* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #c2d3d6;
  min-height: 100%;
}

body,
html {
  height: 100%;
}

main {
  margin: auto;
  max-width: 1024px;
}

h1 {
  font-style: oblique;
  font-size: 50px;
  color: lemonchiffon;
}

/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/hero.jpg);

  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* header start */
header {
  padding: 20px;
  background-color: #007ea7;
  color: white;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  width: 358px;
  border: 8px solid #004666;
  padding: 1px;
  margin: 10px;
  border-radius: 15px;
}

h2 {
  font-size: 32px;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
}

/* hover ul */
header ul li:hover {
  color: #8367c7;
  cursor: pointer;
}

header ul li {
  margin: 10px;
}

/* main content */
.content {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.content-header {
  text-align: right;
  margin: 10px;
  border-right: 4px solid #004666;
  padding-right: 10px;
  flex-shrink: 0;
  width: 130px;
}

.paragraphs {
  margin: 10px;
  margin-top: 15px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

/* images */
.work-images {
  margin: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 17px 3px rgba(138,82,255,0.58); 
box-shadow: 0px 0px 17px 3px rgba(138,82,255,0.58);
}

.card {
  position: relative;
  width: 48%;
  margin: 1%;
  border: 2px solid #8367c7;
  transition: box-shadow 0.5s ;
}

.card.double {
  width: 100%;
}

.card .card-title {
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  padding: 5px;
  background-color: deepskyblue;
}

.card img {
  width: 100%;
  vertical-align: top;
}
/* image of me */
.me {
  max-width: 25%;
  border-radius: 35px;
  border: 2px solid #8367c7;
  transition: box-shadow 0.5s ;
}

.me:hover {
  -webkit-box-shadow: 0px 0px 17px 3px rgba(138,82,255,0.58); 
box-shadow: 0px 0px 17px 3px rgba(138,82,255,0.58);
}

/* links and effects */
.contactlinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding-left: 10px;
  width: 100%;
}

.contactlinks a:hover {
  color: #8367c7;
  cursor: pointer;
}

footer {
  text-align: center;
  font-weight: bold;
}

/* tablet */
@media screen and (max-width: 768px) {
  header,
  main {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  header ul {
    flex-direction: column;
  }
  .paragraphs {
    flex-direction: column;
  }
  .me {
    max-width: 100%;
  }
}

/* phone */
@media screen and (max-width: 420px) {
  header,
  main {
    flex-direction: column;
  }
  header h1 {
    font-size: 24px;
    width: 191px;
    margin: auto;
  }

  .content-header {
    width: 100%;
    border-bottom: 4px solid #004666;
    text-align: center;
  }
  .content {
    flex-direction: column;
  }
  .contactlinks {
    width: 90%;
  }
  .mobile-hide {
    display: none;
  }
}
